{% extends "layout.html" %}

{% block content %}
<h1 class="display-4">Te presentamos al equipo</h1>

<div class="card-group">
    <div class="card">
        <img src="static/img/arnold.png" class="card-img-top" alt="1" style="width: 9cm; margin-top: 1rem;">
        <div class="card-body">
            <h5 class="card-title">Copa Flores Arnold</h5>
            <p class="card-text">Estudiante aplicado de Ingeniería de Sistemas, apasionado por el mundo de las redes y
                la programación. Su naturaleza sociable lo impulsa a compartir activamente sus conocimientos con los
                demás, contribuyendo así al aprendizaje colectivo y fomentando un ambiente colaborativo.</p>
        </div>
    </div>
    <div class="card">
        <img src="static/img/madai.png" class="card-img-top" alt="1" style="width: 10.2cm; margin-top: 1rem;">
        <div class="card-body">
            <h5 class="card-title">Flores Modragon Madai</h5>
            <p class="card-text">Estudiante apasionada por la programación y la resolución de problemas. Posee la
                habilidad excepcional de comunicarse efectivamente con personas de diversos perfiles. Su enfoque
                responsable y puntual en la realización de tareas demuestra su compromiso con la excelencia.
                Dispuesta a contribuir al éxito del equipo y compartir
                conocimientos.</p>
        </div>
    </div>
    <div class="card">
        <img src="static/img/iavan.png" class="card-img-top" alt="1" style="width: 9.7cm; margin-top: 1rem;">
        <div class="card-body">
            <h5 class="card-title">Rivera Vidaurre Ivan Sergio</h5>
            <p class="card-text">Estudiante altamente responsable y dedicado en todas sus labores.Es reservado y una
                persona reflexiva, destaca por su extraordinaria capacidad para la resolución de problemas. Su
                puntualidad
                excepcional en la realización de tareas y deberes demuestra su compromiso con la excelencia. </p>
        </div>
    </div>
</div>

{% endblock %}