{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <h1 class="display-4">¿Quiénes somos?</h1>
    <p class="fs-5">Nos definimos como un grupo de estudiantes de la carrera de Ingeniería de Sistemas, socialmente responsables, que a través de nuestro programa de Curso de programación en Python dedicado especialmente para nuestros alumnos, encontramos los medios necesarios para apoyar al crecimiento de su conocimiento.</p>

    <div class="d-flex align-items-center justify-content-center fs-3"></i>NOOBSOFT</div>

    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center"> <!-- Alineación vertical centrada -->
            <a class="navbar-brand">
                <img src="static/img/logomision.png" alt="l" style="width: 4.5cm; margin-top: 1rem;">
            </a>
            <div class="fs-4"></i>Misión:</div>
            <p class="fs-5 text-center">Empoderar a los alumnos con las habilidades fundamentales de programación en Python, proporcionando un curso integral y accesible.</p>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center"><!-- Alineación vertical centrada -->
            <a class="navbar-brand">
                <img src="static/img/logovision.png" alt="l" style="width: 4cm; margin-top: 1rem;">
            </a>
            <div class="fs-4"></i>Visión:</div>
            <p class="fs-5 text-center">Ser líderes en la educación en programación en Python, brindando un ambiente de aprendizaje colaborativo y de apoyo.</p>
        </div>
    </div>
</div>

{% endblock %}