.btn-custom {
    background-color: #7952b3;
    color: #fff;
}

.mb-madai {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    /* Ajusta el espacio según tus preferencias */
    margin-bottom: 1rem;
    /* Puedes ajustar el espacio según tus preferencias */
}

/* Agrega una línea de separación debajo del formulario */
.input-group-form {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    /* Ajusta el espacio según tus preferencias */
    margin-bottom: 1rem;
    /* Puedes ajustar el espacio según tus preferencias */
}

.rounded-border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
}